$screen-xs: 320px;
$screen-sm: 640px;
$screen-md: 960px;

h1 {
  font-size: 20px;

  @media (max-width: $screen-md - 1px) {
    font-size: 18px;
  }

  @media (max-width: $screen-sm - 1px) {
    font-size: 16px;
  }

  @media (max-width: $screen-xs - 1px) {
    font-size: 14px;
  }
}

h1.small {
  @media (max-width: $screen-xs - 1px) {
    color: #1D1D1D;
  }
}
